<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Design Your Idea</h1>Design Your Idea</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
<body class='bg-1'>

        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">            
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                </a>
            </div>
        </nav>
    
    <h1 class="title is-1" align="center">DESIGN YOUR IDEA</h1>
    <p align="center">
        <canvas id="canvas" width="256" height="256" style="border:5px solid;"></canvas>
        <div align="center">
            <input class="button is-success is-normal" type="button" id="myButton" value="Find now!"/>
            <input class="button is-warning is-normal" type="button" id="undo" value="Undo"/>
            <input class="button is-danger is-normal" type="button" id="clearButton" value="Clear"/>
        </div>
    </p>    

    <div align="center">
        <h1 id='result'></h1>
    </div>

    <script src="static/js/jquery-3.4.1.min.js"></script>
    <script src="static/js/index.js"></script>

    <script type="text/javascript">
        $("#myButton").click(function(){
            
            $('#result').text('  Wing your idea...');
            var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
            var canvasObj = document.getElementById("canvas");
            var img = canvasObj.toDataURL('image/jpeg');
            $.ajax({
                type: "POST",
                url: $SCRIPT_ROOT + "/upload/",
                data: img,
                success: function(data){
                    $(location).attr('href','/results')
                }
            });
        });
    </script>
</body>
</html>